@using BakkalımNet.ActiveFolder 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>BakkalımNet</title>
    <!--Bootstrap core CSS-->
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
    <link href="~/LoginScript/Scriptler/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <!--Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="#">BakkalımNet</a>
            <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mi-auto">
                    <li class="nav-item px-lg-4 @Html.ActivePage("Urunler", "Index")">
                        <a class="nav-link" href="/Urunler/Index">
                            Ürünler
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-lg-4 @Html.ActivePage("Satislar", "Index")" href="/Satislar/Index/">Satislar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-lg-4 @Html.ActivePage("Kategoriler", "Index")" href="/Kategoriler/Index/">Kategoriler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-lg-4 @Html.ActivePage("Markalar", "Index")" href="/Markalar/Index">Markalar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-lg-4 @Html.ActivePage("Stok", "Index")" href="/Stok/Index/">Stok</a>
                    </li>
                    @*< <li class="nav-item">
            <a class="nav-link px-lg-4" href="/Kullanicilar/Logout/">Çıkış</a>
        </li>*@
                    @*<li class="nav-item">
        <a class="nav-link px-lg-4" style="color:ActiveBorder">@User.Identity.Name</a>
          </li>*@
                    <li class="nav-item">
                        <div class="dropdown" style="color:white">
                            <a href="#" class="nav-link px-lg-4  dropdown" data-toggle="dropdown">
                                @User.Identity.Name
                                <i class="fa fa-caret-down" style="color:#ccc" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Kullanicilar/Guncelle">
                                    Bilgileri Güncelle
                                </a>
                                <a class="dropdown-item" href="/Kullanicilar/Logout/">
                                    Çıkış
                                </a>
                            </div>
                        </div>

                    </li>
                    <
                    <li class="nav-item">
                        <a class="nav-link px-lg-4" href="/SatisMaddeleri/Index/">
                            <img src="~/basket.png" style="width:30px;height:30px" />
                            <label>
                                @{Html.RenderAction("TotalCount", "SatisMaddeleri"); }
                            </label>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!--Page Content-->
    <div class="container" style="margin-top:20px;">
        <div class="row navbar-static-top">
            @RenderBody()
        </div>
    </div>
    <footer class="footer text-faded text-center py-xl-5 navbar-fixed-bottom">
        <div class="container">
            <div></div>
            <p class="m-0 table-sm">Copyright &copy; BakkalımNet </p>
        </div>
    </footer>
    <!--Bootstrap core JavaScript-->
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("scriptdanger", false)
 
</body>
</html>
